<section class="team-area ptb-100">
  <div class="container">
    <div class="section-title">
      <!--
      <span class="sub-title">Make Connections</span>
      -->
      <h2>{{'teacher.our_teachers'  | translate }}</h2>
      <!--
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut nisi ut aliquip ex ea.</p>
      -->
    </div>

    <div class="team-slides owl-carousel owl-theme">
      <div class="single-instructor-box mb-30">
        <div class="image">
          <img src="assets/img/team/adam.jpg" alt="image">

          <ul class="social">
            <li><a href="#" target="_blank"><i class="bx bxl-facebook"></i></a></li>
            <li><a href="#" target="_blank"><i class="bx bxl-twitter"></i></a></li>
            <li><a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
            <li><a href="#" target="_blank"><i class="bx bxl-instagram"></i></a></li>
          </ul>
        </div>

        <div class="content">
          <h3><a href="single-instructor.html">Adam Maxwel</a></h3>
          <span>{{'teacher.lesson_type1'  | translate }}</span>
        </div>
      </div>

      <div class="single-instructor-box mb-30">
        <div class="image">
          <img src="assets/img/team/andrea.jpg" alt="image">

          <ul class="social">
            <li><a href="#" target="_blank"><i class="bx bxl-facebook"></i></a></li>
            <li><a href="#" target="_blank"><i class="bx bxl-twitter"></i></a></li>
            <li><a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
            <li><a href="#" target="_blank"><i class="bx bxl-instagram"></i></a></li>
          </ul>
        </div>

        <div class="content">
          <h3><a href="single-instructor.html">Andrea Taylor</a></h3>
          <span>{{'teacher.lesson_type2'  | translate }}</span>
        </div>
      </div>

      <div class="single-instructor-box mb-30">
        <div class="image">
          <img src="assets/img/team/cas.jpg" alt="image">

          <ul class="social">
            <li><a href="#" target="_blank"><i class="bx bxl-facebook"></i></a></li>
            <li><a href="#" target="_blank"><i class="bx bxl-twitter"></i></a></li>
            <li><a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
            <li><a href="#" target="_blank"><i class="bx bxl-instagram"></i></a></li>
          </ul>
        </div>

        <div class="content">
          <h3><a href="single-instructor.html">Caroline Munroe</a></h3>
          <span>{{'teacher.lesson_type3'  | translate }}</span>
        </div>
      </div>

      <div class="single-instructor-box mb-30">
        <div class="image">
          <img src="assets/img/team/lee.jpg" alt="image">

          <ul class="social">
            <li><a href="#" target="_blank"><i class="bx bxl-facebook"></i></a></li>
            <li><a href="#" target="_blank"><i class="bx bxl-twitter"></i></a></li>
            <li><a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
            <li><a href="#" target="_blank"><i class="bx bxl-instagram"></i></a></li>
          </ul>
        </div>

        <div class="content">
          <h3><a href="single-instructor.html">Jonkin Jullinor</a></h3>
          <span>{{'teacher.lesson_type4'  | translate }}</span>
        </div>
      </div>
    </div>
  </div>

  <div id="particles-js-circle-bubble-3"></div>
</section>
