<!-- Start Login Area -->
<div class="container">
<section class="login-area">
  <div class="row m-0">
    <div class="col-lg-6 col-md-12 p-0">
      <div class="login-image">
        <img src="assets/img/login-bg.jpg" alt="image">
      </div>
    </div>
    <div class="col-lg-6 col-md-12 p-0">
      <div class="login-content">
        <div class="d-table">
          <div class="d-table-cell">
              <div id="center">
                <div class="logo">
                  <a href="index.html"><img src="assets/img/black-logo.png" alt="image"></a>
                </div>
                <h3>Welcome back</h3>
                <amplify-authenticator [hide]="['Greetings']"  [signUpConfig]="signUpConfig" ></amplify-authenticator>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<!-- End Login Area -->
