<!-- Start Testimonials Area -->
<section class="testimonials-area ptb-100">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">{{'feedback.title' | translate }}</span>
      <h2>{{'feedback.subject' | translate }}</h2>
    </div>

    <div class="testimonials-slides owl-carousel owl-theme">
      <div class="single-testimonials-item">
        <p>I’ve learned English at school but I’ve never had the opportunity to properly practice speaking. Thanks to English Guru I am now closing the gap.</p>

        <div class="info">
          <img src="assets/img/user1.jpg" class="shadow rounded-circle" alt="image">
          <h3>John Smith</h3>
          <span>{{'feedback.occupation1' | translate }}</span>
        </div>
      </div>

      <div class="single-testimonials-item">
        <p>Since my job requires me to travel constantly all over the world I could never enroll in an English course. English Guru solved this problem for me.</p>

        <div class="info">
          <img src="assets/img/user2.jpg" class="shadow rounded-circle" alt="image">
          <h3>Sarah Taylor</h3>
          <span>{{'feedback.occupation2' | translate }}</span>
        </div>
      </div>

      <div class="single-testimonials-item">
        <p>I registered with English Guru to improve communication with our overseas customers. I have been using the English Guru App in traffic and I would recommend it to everyone.</p>

        <div class="info">
          <img src="assets/img/user3.jpg" class="shadow rounded-circle" alt="image">
          <h3>David Warner</h3>
          <span>{{'feedback.occupation3' | translate }}</span>
        </div>
      </div>

      <div class="single-testimonials-item">
        <p>We have been a solution partner with English Guru for our team who wish to improve their English skills. We are very satisfied with the results.</p>

        <div class="info">
          <img src="assets/img/user4.jpg" class="shadow rounded-circle" alt="image">
          <h3>James Anderson</h3>
          <span>{{'feedback.occupation4' | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Testimonials Area -->

<!-- Start Feedback Area -->
<section class="feedback-area ptb-100">
  <div class="container">
    <div class="feedback-slides owl-carousel owl-theme">
      <div class="single-feedback-item">
        <p>“Keep away from people who try to belittle your ambitions. Small people always do that, but the really great make you feel that you, too, can become great.”</p>

        <div class="info">
          <h3>James Anderson</h3>
          <span>{{'feedback.country1' | translate }}</span>
          <img src="assets/img/user1.jpg" class="shadow rounded-circle" alt="image">
        </div>
      </div>

      <div class="single-feedback-item">
        <p>“The difference between school and life? In school, you're taught a lesson and then given a test. In life, you're given a test that teaches you a lesson.”</p>

        <div class="info">
          <h3>Lina D'Souza</h3>
          <span>{{'feedback.country2' | translate }}</span>
          <img src="assets/img/user2.jpg" class="shadow rounded-circle" alt="image">
        </div>
      </div>

      <div class="single-feedback-item">
        <p>“If a man empties his purse into his head, no man can take it away from him. An investment in knowledge always pays the best interest.”</p>

        <div class="info">
          <h3>David Warner</h3>
          <span>{{'feedback.country3' | translate }}</span>
          <img src="assets/img/user3.jpg" class="shadow rounded-circle" alt="image">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Feedback Area -->
