<!-- Start FAQ Area -->
<section class="faq-area ptb-100">
  <div class="container">
    <div class="tab faq-accordion-tab">
      <ul class="tabs d-flex flex-wrap justify-content-center">
        <li><a href="#"><i class='bx bx-flag'></i> <span>{{'faqs.start'  | translate }}</span></a></li>

        <li><a href="#"><i class='bx bxs-badge-dollar'></i> <span>{{'faqs.price'  | translate }}</span></a></li>

      <!--  <li><a href="#"><i class='bx bx-shopping-bag'></i> <span>Sales Question</span></a></li> -->

        <li><a href="#"><i class='bx bx-book-open'></i> <span>{{'faqs.usage'  | translate }}</span></a></li>

      <!--  <li><a href="#"><i class='bx bx-info-circle'></i> <span>General Guide</span></a></li>-->
      </ul>

      <div class="tab-content">
        <div class="tabs-item">
          <div class="faq-accordion">
            <ul class="accordion">
              <li class="accordion-item">
                <a class="accordion-title active" href="javascript:void(0)">
                  <i class='bx bx-chevron-down'></i>
                  {{'faqs.question1'  | translate }}
                </a>

                <div class="accordion-content show">
                  <p>  {{'faqs.answer1'  | translate }}</p>
                </div>
              </li>

              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class='bx bx-chevron-down'></i>
                  {{'faqs.question2'  | translate }}
                </a>

                <div class="accordion-content">
                  <p>  {{'faqs.answer2'  | translate }}</p>
                </div>
              </li>

              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class='bx bx-chevron-down'></i>
                  What do we talk about in the sessions?
                </a>

                <div class="accordion-content">
                  <p>Masters: two-year degree providing additional specialization. Doctorate: five to eight-year program certifying the student as a trained research scholar and/or professor.</p>
                </div>
              </li>

              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class='bx bx-chevron-down'></i>
                  How much training do I need?
                </a>

                <div class="accordion-content">
                  <p>With permission of the International Student Office, international students may work on campus up to 20 hours/week their first year and can apply to work off-campus in subsequent years.</p>
                </div>
              </li>

              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class='bx bx-chevron-down'></i>
                  I have prior English speaking experience. Are there tutors for me?
                </a>

                <div class="accordion-content">
                  <p>Distance education occurs when a student and an instructor are in different places. Learning occurs by mail, telephone, internet, or by other means.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="tabs-item">
          <div class="faq-accordion">
            <ul class="accordion">
              <li class="accordion-item">
                <a class="accordion-title active" href="javascript:void(0)">
                  <i class='bx bx-chevron-down'></i>
                  Who do I contact for support?
                </a>

                <div class="accordion-content show">
                  <p>Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
              </li>

              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class='bx bx-chevron-down'></i>
                  Can I talk to any tutor I wish?
                </a>

                <div class="accordion-content">
                  <p>Associate: a two-year program that either leads to a specific vocation or transitions to a bachelor program. Bachelor: a four or five-year program where students earn credits in a wide variety of courses.</p>
                </div>
              </li>

              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class='bx bx-chevron-down'></i>
                  Can I switch tutors?
                </a>

                <div class="accordion-content">
                  <p>Masters: two-year degree providing additional specialization. Doctorate: five to eight-year program certifying the student as a trained research scholar and/or professor.</p>
                </div>
              </li>

              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class='bx bx-chevron-down'></i>
                  What if I wanted to keep practicing with the same tutor?
                </a>

                <div class="accordion-content">
                  <p>With permission of the International Student Office, international students may work on campus up to 20 hours/week their first year and can apply to work off-campus in subsequent years.</p>
                </div>
              </li>

              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class='bx bx-chevron-down'></i>
                  What is distance education?
                </a>

                <div class="accordion-content">
                  <p>Distance education occurs when a student and an instructor are in different places. Learning occurs by mail, telephone, internet, or by other means.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="tabs-item">
          <div class="faq-accordion">
            <ul class="accordion">
              <li class="accordion-item">
                <a class="accordion-title active" href="javascript:void(0)">
                  <i class='bx bx-chevron-down'></i>
                  What should I do when I don’t understand what the tutor’s saying?
                </a>

                <div class="accordion-content show">
                  <p>Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
              </li>

              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class='bx bx-chevron-down'></i>
                  How do I get started?
                </a>

                <div class="accordion-content">
                  <p>Associate: a two-year program that either leads to a specific vocation or transitions to a bachelor program. Bachelor: a four or five-year program where students earn credits in a wide variety of courses.</p>
                </div>
              </li>

              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class='bx bx-chevron-down'></i>
                  What are the different types of  graduate degrees?
                </a>

                <div class="accordion-content">
                  <p>Masters: two-year degree providing additional specialization. Doctorate: five to eight-year program certifying the student as a trained research scholar and/or professor.</p>
                </div>
              </li>

              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class='bx bx-chevron-down'></i>
                  Can you work while studying in the United States?
                </a>

                <div class="accordion-content">
                  <p>With permission of the International Student Office, international students may work on campus up to 20 hours/week their first year and can apply to work off-campus in subsequent years.</p>
                </div>
              </li>

              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class='bx bx-chevron-down'></i>
                  What is distance education?
                </a>

                <div class="accordion-content">
                  <p>Distance education occurs when a student and an instructor are in different places. Learning occurs by mail, telephone, internet, or by other means.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
    <!--
        <div class="tabs-item">
          <div class="faq-accordion">
            <ul class="accordion">
              <li class="accordion-item">
                <a class="accordion-title active" href="javascript:void(0)">
                  <i class='bx bx-chevron-down'></i>
                  What’s the difference between a college and a university?
                </a>

                <div class="accordion-content show">
                  <p>Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
              </li>

              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class='bx bx-chevron-down'></i>
                  What are the different types of undergraduate degrees?
                </a>

                <div class="accordion-content">
                  <p>Associate: a two-year program that either leads to a specific vocation or transitions to a bachelor program. Bachelor: a four or five-year program where students earn credits in a wide variety of courses.</p>
                </div>
              </li>

              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class='bx bx-chevron-down'></i>
                  What are the different types of  graduate degrees?
                </a>

                <div class="accordion-content">
                  <p>Masters: two-year degree providing additional specialization. Doctorate: five to eight-year program certifying the student as a trained research scholar and/or professor.</p>
                </div>
              </li>

              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class='bx bx-chevron-down'></i>
                  Can you work while studying in the United States?
                </a>

                <div class="accordion-content">
                  <p>With permission of the International Student Office, international students may work on campus up to 20 hours/week their first year and can apply to work off-campus in subsequent years.</p>
                </div>
              </li>

              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class='bx bx-chevron-down'></i>
                  What is distance education?
                </a>

                <div class="accordion-content">
                  <p>Distance education occurs when a student and an instructor are in different places. Learning occurs by mail, telephone, internet, or by other means.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="tabs-item">
          <div class="faq-accordion">
            <ul class="accordion">
              <li class="accordion-item">
                <a class="accordion-title active" href="javascript:void(0)">
                  <i class='bx bx-chevron-down'></i>
                  What’s the difference between a college and a university?
                </a>

                <div class="accordion-content show">
                  <p>Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
              </li>

              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class='bx bx-chevron-down'></i>
                  What are the different types of undergraduate degrees?
                </a>

                <div class="accordion-content">
                  <p>Associate: a two-year program that either leads to a specific vocation or transitions to a bachelor program. Bachelor: a four or five-year program where students earn credits in a wide variety of courses.</p>
                </div>
              </li>

              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class='bx bx-chevron-down'></i>
                  What are the different types of  graduate degrees?
                </a>

                <div class="accordion-content">
                  <p>Masters: two-year degree providing additional specialization. Doctorate: five to eight-year program certifying the student as a trained research scholar and/or professor.</p>
                </div>
              </li>

              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class='bx bx-chevron-down'></i>
                  Can you work while studying in the United States?
                </a>

                <div class="accordion-content">
                  <p>With permission of the International Student Office, international students may work on campus up to 20 hours/week their first year and can apply to work off-campus in subsequent years.</p>
                </div>
              </li>

              <li class="accordion-item">
                <a class="accordion-title" href="javascript:void(0)">
                  <i class='bx bx-chevron-down'></i>
                  What is distance education?
                </a>

                <div class="accordion-content">
                  <p>Distance education occurs when a student and an instructor are in different places. Learning occurs by mail, telephone, internet, or by other means.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
    -->
      </div>
    </div>
  </div>
</section>
<!-- End FAQ Area -->
